body{
	background-color:#3C070A;
}
.nav{
	height:60px;
	background-color:#18BCCB;
}
.nav h1{
	display:inline-block;
	position:absolute;
	left:5;
	color:black;
}
.nav ul{
	position:absolute;
    right:5px;
}
.nav ul li{
	display:inline-block;
}
.nav ul li a{
	color:#797A7E;
	padding:5px;
}
.nav ul li a:hover{
	color:#BA0D0E;
	background-color:#491E1F;
}
p{
	color:#039CD1;
	font-family:algerian;
	font-size:
}
h2{
	color:white;
}